@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html, body {
    @apply h-full;
  }

  a {
    @apply text-grayishblue-800;
    @apply cursor-pointer;
  }
  a:hover {
    @apply underline;
  }

  input[type=checkbox] {
    @apply text-grayishblue-700;
    @apply mr-1;
    @apply rounded;
  }
  input[type=checkbox]:focus {
      @apply outline-grayishblue-800;
    }
}

@layer components {
  .steno-navigation {
    @apply bg-grayishblue-500;
    @apply text-sm;
    @apply font-bold;
    @apply font-mono;
    @apply rounded-lg;
    @apply text-white;
  }
  .steno-action {
    @apply bg-grayishblue-900;
    @apply rounded-lg;
    @apply text-white;
    @apply py-1;
    @apply px-2;
    @apply w-fit;
    @apply font-mono;
  }
  .overlay {
    @apply p-6;
    @apply fixed;
    @apply z-30;
    @apply top-1/2;
    @apply left-1/2;
    @apply -translate-x-1/2;
    @apply -translate-y-1/2;
    @apply max-w-lg;
    @apply text-center;
    @apply bg-white;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
  }

  section#user-form {
    @apply p-8;
    @apply max-w-5xl;
    @apply mx-auto;
  }

  section#user-form p {
    @apply py-1;
  }

  section#user-form hr {
    @apply border-grayishblue-200;
    @apply my-4;
  }

  section#user-form > h1 {
    @apply text-4xl;
    @apply font-bold;
    @apply py-6;
  }

  section#user-form > h2 {
    @apply text-3xl;
    @apply font-bold;
    @apply text-grayishblue-900;
    @apply py-4;
  }

  section#user-form h3 {
    @apply text-2xl;
    @apply text-grayishblue-800;
    @apply pt-4;
    @apply pb-3;
  }

  section#user-form input {
    @apply border;
    @apply border-solid;
    @apply border-grayishblue-500;
    @apply text-lg;
  }

  section#user-form input:focus {
    @apply outline-none;
    box-shadow: 0px 0px 10px 0px rgba(13,83,181,0.8);
  }

  .input-text-password {
    @apply rounded-lg;
    @apply p-2;
    @apply outline-none;
    @apply border;
    @apply border-solid;
    @apply border-grayishblue-500;
  }

  section#user-form input[type="text"] {
    @apply input-text-password;
  }
  section#user-form input[type="password"] {

    @apply input-text-password;
  }

  section#user-form input[type="checkbox"] {
    @apply rounded;
    @apply p-1;
  }
}
